@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --lightGrey: #373a43;
  --darkGrey: #27292f;
  --black: #000;
  --green: #6dfe8f;
  --lightGreen: #86fea2;
  --white: #fff;
  --yellow: #ffcf40;
  --fontFamily: Roboto, sans-serif;
  --fontWeight: 800;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--fontWeight) var(--fontFamily);
}

.dis-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
